
*.user
aquadesktop/sources/build-aquadesktop-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
*.o
aquadesktop/sources/build-aquadesktop-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_predefs.h
aquadesktop/sources/build-aquadesktop-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/Makefile.Debug
aquadesktop/sources/build-aquadesktop-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/Makefile.Debug
*.exe
*.stash
aquadesktop/sources/build-aquadesktop-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/Makefile
